{% extends "basic/base.html" %}

{% block content %}

    <p class="h3">Automata a revisar AFN:</p>

    <img src="{{ url_for("static", filename="img/automata_decimales_AFN.png") }}" class="img-fluid rounded mx-auto d-block"/>
    <div class="row">
        <div class="col-sm-6">
            Expresion Regular Autogenerada
            <a href="#Nota-1"><sup>[1]</sup></a>
            <a href="#Nota-2"><sup>[2]</sup></a>:
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 offset-sm-1">
            {{ er_AFN }}
        </div>
    </div>

    <p class="h3">AFD equivalente:</p>

    <img src="{{ url_for("static", filename="img/automata_decimales_AFD.png") }}" class="img-fluid rounded mx-auto d-block"/>
    <div class="row">
        <div class="col-sm-6">
            Expresion Regular Autogenerada
            <a href="#Nota-1"><sup>[1]</sup></a>
            <a href="#Nota-2"><sup>[2]</sup></a>:
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 offset-sm-1">
            {{ er_AFD }}
        </div>
    </div>

    <p class="h3">Pruebas de testeo<a href="#Nota-3"><sup>[3]</sup></a>:</p>

    <div id="div_resultados_pruebas">
        {{ resultados_pruebas|safe }}
    </div>

    <p class="h5">Notas</p>
    <div id="Nota-1">
        <strong>[1]:</strong> El caracter <span class="badge bg-primary text-wrap fw-bold fs-5">{{ car_vacio }}</span> (codigo {{ car_vacio_code }}) corresponde a la representacion de cadena vacia en estos automatas en particular
    </div>
    <div id="Nota-2">
        <strong>[2]:</strong> La expresion regular se obtiene automaticamente utilizando el metodo de eliminacion de estados.
    </div>
    <div id="Nota-3">
        <strong>[3]:</strong> Las pruebas se han generado de manera aleatoria, por ello son diferentes en cada revision de esta pagina web
    </div>

    <script type="text/javascript">
    $(document).ready(() => {
        let tbl_res = $("#div_resultados_pruebas table");
        tbl_res.addClass("table");
        tbl_res.addClass("table-striped");
        tbl_res.addClass("table-dark");
        tbl_res.addClass("table-responsive");
        tbl_res.find("td, th").each((idx, celda) => {
           $(celda).addClass("text-center")
        });
    });
    </script>

{% endblock %}
