{% extends "basic/base.html" %}

{% block content %}

    <p class="h3">Prueba tu Cadena</p>

    {% if not right_captcha %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            El valor capturado para el captcha es incorrecto.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <form action="#resultados" method="post" id="word-test-frm" autocomplete="off">
        <div class="row">
            <label for="words2test" class="col-sm-2 col-form-label">
                Palabras a revisar
                <span class="badge bg-secondary text-wrap fw-bold" data-bs-toggle="tooltip" title="Puede ingresar varias palabras, una por cada línea">?</span>:
            </label>
            <div class="col-sm-10">
                <textarea name="words2test" id="words2test" cols="30" rows="10" class="form-control" required="required">{% if palabras %}{{ palabras }}{% endif %}</textarea>
            </div>
        </div>
        <div class="row">
            <label for="captcha_value" class="col-sm-2 col-form-label">
                Captcha
                <span class="badge bg-secondary text-wrap fw-bold" data-bs-toggle="tooltip" title="Se muestras sólo letras en minúsculas y números">?</span>:
            </label>
            <div class="col-sm-10">
                <img src="{{ url_for('static', filename='captcha') }}/{{ captcha }}.png" class="img-fluid rounded" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-2">
                <input type="text" name="captcha_value" id="captcha_value" class="form-control" required="required" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <button class="btn btn-primary" type="submit">Revisar</button>
            </div>
        </div>
        <input type="hidden" name="captcha" id="captcha" value="{{ captcha }}" />
    </form>

    <p class="h3">Autómata a revisar AFN:</p>

    <img src="{{ url_for("static", filename="img/automata_decimales_AFN.png") }}" class="img-fluid rounded mx-auto d-block"/>
    <div class="row">
        <div class="col-sm-6">
            Expresión Regular Autogenerada
            <a href="#Nota-1"><sup>[1]</sup></a>
            <a href="#Nota-2"><sup>[2]</sup></a>:
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 offset-sm-1">
            {{ er_AFN }}
        </div>
    </div>

    <p class="h3">AFD equivalente:</p>

    <img src="{{ url_for("static", filename="img/automata_decimales_AFD.png") }}" class="img-fluid rounded mx-auto d-block"/>
    <div class="row">
        <div class="col-sm-6">
            Expresión Regular Autogenerada
            <a href="#Nota-1"><sup>[1]</sup></a>
            <a href="#Nota-2"><sup>[2]</sup></a>:
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 offset-sm-1">
            {{ er_AFD }}
        </div>
    </div>

    {% if palabras %}
        <p class="h3" id="resultados">Pruebas de testeo:</p>

        <div id="div_resultados_pruebas">
            {{ resultados_pruebas|safe }}
        </div>

        <script type="text/javascript">
    $(document).ready(() => {
        let tbl_res = $("#div_resultados_pruebas table");
        tbl_res.addClass("table");
        tbl_res.addClass("table-striped");
        tbl_res.addClass("table-dark");
        tbl_res.addClass("table-responsive");
        tbl_res.find("td, th").each((idx, celda) => {
           $(celda).addClass("text-center")
        });
    });
    </script>
    {% endif %}

    <p class="h5">Notas</p>
    <div id="Nota-1">
        <strong>[1]:</strong> El caracter <span class="badge bg-primary text-wrap fw-bold fs-5">{{ car_vacio }}</span> (código {{ car_vacio_code }}) corresponde a la representación de cadena vacía en estos automatas en particular
    </div>
    <div id="Nota-2">
        <strong>[2]:</strong> La expresión regular se obtiene automáticamente utilizando el método de eliminación de estados.
    </div>

{% endblock %}
